body{
    background-color:white;
    font-family: georgia;
    text-align:justify;
}
.jumbotron{
    border-radius: 0;
    color:black;
    background-color: white;
}
.navbar{
    background-color: blue;
}

a{
    color: white;
    font-weight: bold;
    text-decoration:none;
}

#navbarDropdown{

    font-weight: normal;
}
a:hover{

    color: darkblue;
    text-decoration: none;

}

.navbar-brand{

    color:white;
    color:light
}

.btn{

    background-color:blue;
    color: white;
    padding:2% 5%
}

a:active{

    color: greenyellow;
    text-decoration: none;
}

li{
    margin: 0 5%;
}

input{

    border:solid 2px blue;
}
#email,#password,#password-confirm,#name{
    border:solid 2px blue;
}
footer{
    background-color: blue;
    padding: 1%;
    text-align: center;
    color: white;
}
#received-files-header{

    border:solid 1px black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 2%;
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bold;
}
#received-files-body{
    border:solid 1px black;
    padding: 2%;
}
#received-files{

    padding: 2%;
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
}
