body{
    background-color:white;
    font-family: georgia;
    text-align:justify;
}
.jumbotron{
    border-radius: 0;
    color:black;
    background-color: white;
}
.navbar{
    background-color:#87CEFA;
}

a{
    color: white;
    font-weight: bold;
    text-decoration:none;
}

#navbarDropdown{

    font-weight: normal;
}
a:hover{

    color: darkblue;
    text-decoration: none;

}

.navbar-brand{

    color:white;
    color:light
}

.btn{

    background-color:#87CEFA;
    color: white;
    padding:2% 5%
}

a:active{

    color: greenyellow;
    text-decoration: none;
}

li{
    margin: 0 5%;
    display: inline;
}

input{

    border:solid 2px #87CEFA ;
}
#email,#password,#password-confirm,#name{
    border:solid 2px #87CEFA;
}
footer{
    background-color:#87CEFA;
    padding: 1%;
    text-align: center;
    color: white;
}
#received-files-header{
    border:solid 1px #87CEFA;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 2%;
    background-color: #87CEFA;
    color: white;
    text-align: center;
    font-weight: bold;
}
#received-files-body{
    border:solid 1px #87CEFA;
    padding: 2%;
}
#received-files{
    padding: 2%;
    background-color: #87CEFA;
    color: white;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
}
#image{
    position: relative;
    animation-name: image;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes image{
    0%{opacity: 0;}
    100%{opacity:1;}
}
#welcome-note,#about{

    color: #87CEFA;
}
